* {
  margin: 0;
  padding: 0;
}

.books{
  margin: 20px 80px;
  width: 350px;
  min-width: 200px;
  color: pink;
}
.books >img{
  height: 400px;
  width: 80%;
}
.Libary{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
